@media screen and (min-width:914px) and (max-width:1024px){
    .container{
    padding: 0px 0px 0px 0px;
    }
    .izquierda img{
        width: 305px;
        height: 475px;
    }
    .serv-nutri{
    
        margin-bottom: 50px;
    }
    .fo-d iframe{
        width: 80%;
        height: 80%;
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 100px 0px 0px 0px;
    }
    footer{
        height: 40vh;
    }
}
@media screen and (min-width:821px) and (max-width:913px){
    .container{
    padding: 0px 0px 0px 0px;
    }
    .n-i{
        flex: 2;
    }
    .a-i{
        flex: 2;
    }
    .t-i{
        flex: 2;
    }
    .list-t{
        margin-top: 30px;
    }
    .f-i{
        flex: 2;
    }
    .izquierda img{
        width: 405px;
        height: 575px;
    }
    .fo-d iframe{
        width: 80%;
        height: 80%;
    }

    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 100px 0px 0px 0px;
    }
    .c-i{
        width: 45%;
    }
    .c-d{
        width: 45%;
    }
    .consultas{
        height: 50vh;
        background-position-y: 500px;
    }
    footer{
        height: 20vh;
    }
}

@media screen and (min-width:769px) and (max-width:820px){
    .container{
    padding: 0px 0px 0px 0px;
    }
    .n-i{
        flex: 2;
    }
    .container img{
        width: 85%;
        height: 70%;
    }
    .a-i{
        flex: 2;
    }
    .t-i{
        flex: 2;
    }
    .list-t{
        margin-top: 30px;
    }
    .f-i{
        flex: 2;
    }
    .izquierda img{
        width: 405px;
        height: 575px;
    }
    .fo-d iframe{
        width: 80%;
        height: 80%;
    }

    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 100px 0px 0px 0px;
    }
    .c-i{
        width: 47%;
    }
    .c-d{
        width: 47%;
    }
    .consultas{
        height: 60vh;
        background-position-y: 5800px;
    }
    .c-i h4{
        padding: 160px 0 0 0;
    }
    footer{
        height: 25vh;
    }
}
@media screen and (min-width:500px) and (max-width:768px){
    .container{
    padding: 0px 60px 0px 60px;
    flex-direction: column-reverse;
    height: 70vh;
    }
    .container img{
        width: 90%;
        height: 70%;
    }
    
    .nombre h1{
        font-size: 2.2em;
    }
    .nombre h3{
        font-size: 1.7em;

    }
    .serv-nutri{
    margin-top: 260px;
    }

    .nutricional{
        flex-direction: column;
    }
    .aparatologia{
        flex-direction: column;
    }
    .tratamientos{
        flex-direction: column;
    }
    .farmacologicos{
        flex-direction: column;
    }
    .list-t{
        margin-top: 30px;
    }
    
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 100px 0px 0px 0px;
    }
    .c-i{
        width: 47%;
    }
    .c-d{
        width: 47%;
    }
    .consultas{
        height: 70vh;
        background-position-y: 600px;
    }
    .c-i h4{
        padding: 160px 0 0 0;
    }
    footer{
        height: 26vh;
    }
}
@media screen and (min-width:416px) and (max-width:428px){
    .container{
    padding: 0px 0px 0px 0px;
    flex-direction: column-reverse;
    height: 93vh;
    }
    .logo{
        display: flex;
        justify-content: center;

    }
    .logo img{
        height: 100px;
        width: 100px;
    }
    .menu{
        display: none;
    }
    .container img{
        width: 85%;
        height: 70%;
    }
    .nombre h1{
        font-size: 1.5em;
    }
    .nombre h3{
        font-size: 1.2em;

    }
    
    .wave{
    
        background-repeat: repeat;
    }
.serv-nutri{
    margin-bottom: 100px;
}
    .nutricional{
        flex-direction: column;
    }
    .n-i h1{
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin-top: 120px;
    }
    .n-d{
        margin-top: 100px;
        
    }
    .aparatologia{
        flex-direction: column;
    }
    .list-a{
        justify-content: center;
        margin-top: 20px;
    }
    .tratamientos{
        flex-direction: column;
    }
    .t-i h1{
        text-align: center;
    }
    .list-t{
        flex-direction: column;
        text-align: left !important;
        margin-top: 80px;
    }
    .t-d img{
    margin-top: 40px;
    }
    
    .farmacologicos{
        flex-direction: column;
        margin-top: 50px;
    }
    .f-i{
        text-align: center;
    }
    .f-d{
        margin-top: 25px;
    }
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consulta{
        height: 210vh;
    }
    .consultas{
        flex-direction: column;
        padding: 0 25px;
        background-position-y: 1340px;
        height: 210vh;
    
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 80px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c-i{
        width: 100%;
        margin-top: 40px;
        
    }
    .c-d{
        width: 100%;
        margin-top: 80px;
        margin-bottom: 200px;
    }
    footer{
        height: 120vh;
        padding: 0 30px;
        grid-template-columns: 100%;
        text-align: justify;
    }
    .derechos{
        grid-column: 1/2;

    }
 }

 @media screen and (min-width:413px) and (max-width:415px){
    .container{
    padding: 0px 0px 0px 0px;
    flex-direction: column-reverse;
    grid-template-rows: 28vh 7vh 28vh;
    height: 65vh;
    }
    
    .container img{
        width: 90%;
        height: 50%;
    }
    .nombre h1{
        font-size: 1.5em;
        margin-top: 10px;
    }
    .nombre h3{
        font-size: 1.2em;
        margin-bottom: 10px;

    }
    .wave{
    
        background-repeat: repeat;
    }
    .nutricional{
        flex-direction: column;
    }
    .n-i h1{
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin-top: 120px;
    }
    .n-d{
        margin-top: 100px;
        
    }
    .aparatologia{
        flex-direction: column;
        margin-top: 100px;
    }
    .list-a{
        justify-content: center;
        margin-top: 20px;
    }
    .tratamientos{
        flex-direction: column;
    }
    .t-i h1{
        text-align: center;
    }
    .list-t{
        flex-direction: column;
        text-align: left !important;
        margin-top: 80px;
    }
    .t-d img{
    margin-top: 40px;
    }
    
    .farmacologicos{
        flex-direction: column;
    }
    .f-i{
        text-align: center;
        margin-top: 40px;
    }
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consulta{
        height: 170vh; 
    }
    .consultas{
        height: 170vh;
        flex-direction: column;
        padding: 0 25px;
        background-position-y: 972px;
        justify-content: start;
    
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 80px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c-i{
        width: 100%;
        margin-top: 0px;
        height: 40%;
        margin-bottom: 30px;
        
    }
    .c-d{
        width: 100%;
        margin-top: 0px;
        height: 40%;
        margin-bottom: 30px;
    }
    footer{
        height: 90vh;
        padding: 0 30px;
        grid-template-columns: 100%;
        text-align: justify;
    }
    .derechos{
        grid-column: 1/2;

    }
 }


 @media screen and (min-width:400px) and (max-width:412px){
    .container{
    padding: 0px 0px 0px 0px;
    flex-direction: column-reverse;
    height: 65vh;
    grid-template-rows: 28vh 7vh 28vh; 
    }
    .container img{
        width: 90%;
        height: 60%;
    }

    
    .nombre h1{
        font-size: 1.5em;
        margin-top: 10px;
    }
    .nombre h3{
        font-size: 1.2em;
        margin-bottom: 10px;

    }
    .wave{
    
        background-repeat: repeat;
    }
    .nutricional{
        flex-direction: column;
    }
    .n-i h1{
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin-top: 120px;
    }
    .n-d{
        margin-top: 100px;
        
    }
    .aparatologia{
        flex-direction: column;
        margin-top: 100px;
    }
    .list-a{
        justify-content: center;
        margin-top: 20px;
    }
    .tratamientos{
        flex-direction: column;
    }
    .t-i h1{
        text-align: center;
    }
    .list-t{
        flex-direction: column;
        text-align: left !important;
        margin-top: 30px;
    }
    .t-d img{
    margin-top: 40px;
    }
    
    .farmacologicos{
        flex-direction: column;
    }
    .f-i{
        text-align: center;
    }
    .f-d{
        margin-top: 25px;
    }
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consulta{
        height: 150vh;
    }
    .consultas{
        flex-direction: column;
        padding: 0 25px;
        height: 150vh;
        background-position-y: 1160px;
        justify-content: start;
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 80px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c-i{
        width: 100%;
        margin-top: 40px;
        height: 35%;
        
    }
    .c-d{
        width: 100%;
        margin-top: 80px;
        height: 35%;
    }
    footer{
        height: 75vh;
        padding: 0 30px;
        grid-template-columns: 100%;
        text-align: justify;
    }
    .derechos{
        grid-column: 1/2;

    }
 }
 @media screen and (min-width:391px) and (max-width:400px){
    .container{
    padding: 0px 0px 0px 0px;
    flex-direction: column-reverse;
    height: 70vh;
    grid-template-rows: 28vh 10vh 28vh; 
    }
    .container img{
        width: 90%;
        height: 60%;
    }

    
    .nombre h1{
        font-size: 1.4em;
    }
    .nombre h3{
        font-size: 1.1em;

    }
    .wave{
    
        background-repeat: repeat;
    }
   
    .nutricional{
        flex-direction: column;
    }
    .n-i h1{
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin-top: 120px;
    }
    .n-d{
        margin-top: 100px;
        
    }
    .aparatologia{
        flex-direction: column;
        margin-top: 100px;
    }
    .list-a{
        justify-content: center;
        margin-top: 20px;
    }
    .tratamientos{
        flex-direction: column;

    }
    .t-i h1{
        text-align: center;
    }
    .list-t{
        flex-direction: column;
        text-align: left !important;
    }
    .t-d img{
    margin-top: 40px;
    }
    
    .farmacologicos{
        flex-direction: column;
    }
    .f-i{
        text-align: center;
    }
    .f-d{
        margin-top: 25px;
    }
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consulta{
        height: 150vh;
    }
    .consultas{
        flex-direction: column;
        padding: 0 25px;
        background-position-y: 1110px;
    
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 80px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c-i{
        width: 100%;
        margin-top: 40px;
        
    }
    .c-d{
        width: 100%;
        margin-top: 80px;
    }
    .consultas{
        height: 70vh;
    }
    footer{
        height: 75vh;
        padding: 0 30px;
        grid-template-columns: 100%;
        text-align: justify;
    }
    .derechos{
        grid-column: 1/2;

    }
 }

 @media screen and (max-width:390px){
    .container{
    padding: 0px 0px 0px 0px;
    flex-direction: column-reverse;
    height: 150vh;
    height: 65vh;
    grid-template-rows: 28vh 8vh 28vh; 
    }
    .container img{
        width: 90%;
        height: 60%;
    }

    
    .nombre h1{
        font-size: 1.3em;
        margin-top: 10px;
    }
    .nombre h3{
        font-size: 1em;
        margin-bottom: 0;

    }
    .wave{
    
        background-repeat: repeat;
    }
    .nutricional{
        flex-direction: column;
    }
    .n-i h1{
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin-top: 140px;
    }
    .n-d{
        margin-top: 130px;
        
    }
    .aparatologia{
        flex-direction: column;
        margin-top: 100px;
    }
    .list-a{
        justify-content: center;
        margin-top: 20px;
    }
    .tratamientos{
        flex-direction: column;

    }
    .t-i h1{
        text-align: center;
    }
    .list-t{
        flex-direction: column;
        text-align: left !important;
        margin-top: 50px;
    }
    .t-d img{
    margin-top: 40px;
    }
    
    .farmacologicos{
        flex-direction: column;
        margin-top: 50px;
    }
    .f-i{
        text-align: center;
    }
    .f-d{
        margin-top: 25px;
    }
  
    .izquierda img{
        width: 255px;
        height: 375px;
    }
    .fo-d{
        display: flex;
        justify-content: center;
    }
    .fo-d iframe{
        width: 80%;
        height: 70%;
    }

    .consulta{
        height: 190vh;
    }
    .consultas{
        flex-direction: column;
        padding: 0 25px;
    
    }
    .consultas li{
        padding: 10px;
    }
    .c-i h4{
        padding: 80px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c-i{
        width: 100%;
        margin-top: 40px;
        
    }
    .c-d{
        width: 100%;
        height: 77vh;
        margin-top: 60px;
    }
    .consultas{
        height: 70vh;
    }
    footer{
        height: 80vh;
        padding: 0 30px;
        grid-template-columns: 100%;
        text-align: justify;
    }
    .derechos{
        grid-column: 1/2;

    }
 }